// GLOBAL STYLING SHEET

// STYLING
    body{
        position: relative;
        background-color: $ff-background;
    }
    .grid {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 16px;
        display: flex;

        @include md{
            padding: 0 25px;
        }

        @include lg {
            padding: 0;
        }
    }

    .grid>.grid {
        padding: 0;
    }

    .grid-fluid {
        max-width: none;
        margin: 0 auto;
    }

    [class*=col-], [class*=col_], [class~=col] {
        padding: 0 0;
    }

    .align-center {
        justify-content: center;
    }

    .vert-center {
        align-items: center;
    }

    a {
        color: $action-blue;
        font-weight: 500;
    }

    img {
        max-width: 100%;
        margin: 0 auto;
    }

    p, h1, h2, h3, h4 {
        color: $wd-dark;
    }

    h5 {
        font-size: 24px;
        font-weight: 600;
        margin: 16px 0;
        letter-spacing: 2px;
        color: $wd-gray
    }

    p {
        font-size: 16px;
        
        @include md {
            font-size: 18px;
            line-height: 36px;
        }
    }

    h6 {
        font-weight: 200;
        color: $wd-gray;
        font-size: 16px;
    }

    .text-small {
        line-height: 26px;
        font-size: 16px;
    }

    .text-white {
        color: $white;
    }

    .mt-large {
        margin-top: 64px;
    }

    .mt-small {
        margin-top: 24px;
    }


// NAVIGATION
    nav {
        width: 100vw;
        height: 64px;
        z-index: 100;
        top: 0;
        //width: 100%;

        a:focus { //TODO: where is this used
            background-color: none;
        }

        ul {
            list-style: none;
            display: flex;
            margin: 0;
            justify-content: flex-end;
            z-index: 5;
            padding-top: 24px;
        }

        .nav-logo {
            img {
                width: 132px;

                @include xs {
                    max-width: 100px;
                }
            }
            
            a {
                position: relative;
                transition: .2s;

                &:hover {
                    opacity: .5;
                    transition: .2s;
                }
            }
        }

        .nav-menu {
            padding: 16px 0px;

            li {
                margin-top: 16px;
                margin-right: 40px;
                margin-left: 40px;
            }

            a {
                font-size: 20px;
                text-decoration: none;
                color: $wd-blue;
                padding: 0 0px;
                border-bottom: 2px solid transparent;
        
                &:hover {
                    border-bottom: 2px solid $wd-blue;
                }
            }

            @include sm {
                li {
                    margin-left: 8px;
                }
            }
        }
    }

// FOOTER NAVIGATION BAR
// TODO FIX THIS SECTION, change colors and variable names to make sense with the context of the pages.
    .project-nav {
        margin-top: 80px;
        background-color: transparent;

        ul {       
            list-style: none; //removes bullet points    
            padding: 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 8px 40px;

            @include xs {
                margin:0;
            }

            li {
                padding: 24px;
    
                a {
                    position: relative;
                    text-decoration: none;
                    color: $wd-blue;
                    font-weight: 400;
                }

                &:first-child a{
                    &::after {
                        background-color: $contract-green;
                    }
                }
                
                &:nth-child(2) a{
                    &::after{
                        background-color: $mirror-gold;
                    }
                }

                &:nth-child(3) a{
                    &::after{
                        background-color: purple;
                    }
                }

                &:nth-child(4) a{
                    &::after{
                        background-color: aqua;
                    }
                }

                &:nth-child(5) a{
                    &::after{
                        background-color: red;
                    }
                }

                &:nth-child(6) a{
                    &::after{
                        background-color: hotpink;
                    }
                }

                &:nth-child(7) a{
                    &::after{
                        background-color: seagreen;
                    }
                }
            }

            li a {
                &::after {
                    content: "";
                    height: 12px;
                    width: 74px;
                    left: -8px;
                    right: 50%;
                    position: absolute;
                    opacity: 0; //TODO: clarify
                    transition: .2s;
                }
            }

            li.active a{
                &::after{
                    bottom: 3px;
                    opacity: .4;
                }
                color: $wd-gray;
            }

            li:hover {
                &:first-child a{
                    color: $contract-green;
                }
                &:nth-child(2) a{
                    color: $mirror-gold;
                }
                &:nth-child(3) a{
                    color: purple;
                }
                &:nth-child(4) a{
                    color: aqua;
                }
                &:nth-child(5) a{
                    color: red;
                }
                &:nth-child(6) a{
                    color: hotpink;
                }
                &:nth-child(7) a{
                    color: seagreen;
                }

                a::after{
                    width: 12px;
                    left: 90%;
                    right: -4px;
                    opacity: .4;
                    transition: .2s;
                }
            }
        }
    }

// BOTTOM FOOTER
    footer {
        padding: 5vh 5vw;
        background-color: $wd-blue;
        margin-top: 80px;
        position: relative;
        min-height: 80px;
        max-height: 250px;

        h5 { 
            font-size: 10px;
            color: $wd-gray;
            font-weight: 300;
            position: absolute;
            right: 16px;
            bottom: 8px;
            margin-bottom: 0;
            letter-spacing: 0px;
        }

        h3 {
            color: $wd-gray;
            font-size: 2rem;
            line-height: 70%;
            margin-top: 16px;

            span {
                font-weight: 200;
                font-size: 60%;
                color: $wd-gray;
            }
        }

        img {
            width: 64px;
        }

        h4 {
            color: $wd-gray;
            font-weight: 200;

            a {
                color: $ff-background;
                font-weight: 300;
                text-decoration: none;
                border-bottom: 1px solid $ff-background;
            }
        }
    }