// ------------------ HOME/WORK PAGE STYLING ------------------

// HOME HERO
	.home-hero{
		height: 90vh;
		//background-color: $wd-light;
		margin-bottom: 48px;

		>div{
			text-align: center;
			margin-top: 20vh;
			max-height: 100vh;

			@include md {
				margin-top: 12vh;
			}

			@include sm {
				margin-top: 80px;
			}
		}

		@include sm {
			height: auto;
			margin-bottom: 80px;
		}

		text-align: center;

		#name{
			height: 40vh;
			text-align: center;
			
			h1{
				line-height: 120%;
				margin: 0;
				color: $wd-blue;
				font-size: 64px;
				text-align: center;
				//background-color: $white;

				@include sm {
					font-size: 48px;
				}

				padding-bottom: 8px;
			}


			h2{
				//margin-left: 8px;
				color: $wd-gray;
				font-size: 32px;
				font-weight: 300;
				line-height: 140%;
				margin: 12px auto;
				max-width: 600px;


				@include md {
					font-size: 38px;
				}
			}

			p{
				max-width: 664px;
				margin: 0 auto 16px;
			}

			h4{
				font-size: 24px;
				width: 100%;
				margin: 32px 0 0;
			}

			a{
				font-size: 18px;
				//color: $wd-green;
				font-weight: 300;
				text-decoration: none;
				//border-bottom: 2px solid $wd-green;
				transition: 0.2s;

				&::hover{
					border-bottom: 4px;
					transition: 0.2s;
				}
			}

			@include xs {
				height: auto;
				margin-bottom: 80px;

				p{
					max-width: 380px;
				}
			}

			@include md {
				padding: 32px 0px 32px 0;
				height: 50vh;
			}
		}

		.arrow_down{
			margin-top: 64px;
			

			img{
				min-width: 24px;
				transform: rotate(90deg);
			}
		}
	}



// HOME PROJECT GRID

#project-grid{
	margin-bottom: 20vh;


	.home-grid-anchor{
		padding: 0 32px;
		//margin: 0 32px 32px;
		width: 100%;
		
		>a{
			//background-color: red;
			margin-top: 64px;
			width: 100%
		}

		@include xs {
			padding: 0;
		}
	}

	a{
		//padding: 32px;
		background-color: none;
		text-decoration: none;
	}

	aside{
		background-color: none;
	}
} 




// HOME SECTIONS
	.home-sections{
		margin-top: 160px;

		img{
			max-height: 60px;
			//max-height: 60px;
			text-align: left;
		}

		aside > div{
			padding: 32px;
		}

		a aside{
			//padding: 32px 0 0 32px;
			opacity: 0;
			transition: all 0.2s;
			//background-color: red;
		}

		a:hover{
			aside{
				opacity: 1;
				transition: opacity 0.2s;
				-webkit-transition: opacity 0.2s;
			}
		}



		aside{		
			width: 100%;
			height: 100%;


			h3{
				color: $white;
				font-weight: 600;
				font-size: 18px;
				line-height: 24px;
				margin: 12px 0px 16px;
				padding: 0;
				margin-top: 8px;
				opacity: .6;
				text-decoration: none;
			}

			p{
				font-weight: 300;
				margin: 0;
				font-size: 16px;
				line-height: 26px;
				color: $white;
			}
		}

		section{
			height: 280px;
			//background-color: $wd-light;
			margin-bottom: 100px;
			padding: 0px;

			a{
				text-decoration: none;
				color: $white;
				transition: opacity 0.2s;
				-webkit-transition: opacity 0.2s;
			}


			@include sm {
				aside{
					display: none;
				}
			}

		}
	


		.home-key{
			background: url(../img/home/keytruda_home.png) no-repeat 50%;
			background-size: cover;

			height: 600px;

			aside{
				background-color: $key-green;
			}

			img{
				height: 64px;
			}
		}


		.home-estuary{
			background: url(../img/home/estuary_home.png) no-repeat center 30%;
			background-size: cover;
			background-color: $estuary-pink;

			height: 600px;

			aside{
				background-color: $estuary-pink;
			}

			img{
				height: 64px;
			}
		}


		.home-nodehost{
			background: url(../img/home/nodehost_home.jpg) no-repeat 30%;
			background-size: cover;

			height: 480px;

			aside{
				background-color: $nh-purple;
			}

			img{
				height: 64px;
			}
		}


		.home-statvisor{
			background: url(../img/home/statvisor_home.png) no-repeat center 40%;
			background-size: cover;
			background-color: $sv-slate;

			height: 480px;

			aside{
				background-color: $sv-slate;
			}

			img{
				height: 48px;
			}
		}


		.home-misc{
			background: url(../img/about.png) no-repeat center 40%;
			background-size: cover;
			background-color: $wd-gray;

			height: 300px;

			aside{
				background-color: $wd-blue;
			}

			img{
				height: 48px;
			}
		}


		.home-unbranded{
			background: url(../img/unbranded/home-unbranded.png) no-repeat left 50%;
			background-size: cover;
			background-color: $unbranded-orange;

			height: 300px;

			aside{
				background-color: $unbranded-orange;
			}

			img{
				height: 48px;
			}
		}


		.home-12thbar{
			background: url(../img/home/twelfth_home.jpg) no-repeat center 50%;
			background-size: cover;

			height: 200px;

			aside{
				background-color: $twelfth-yellow;
			}			

			img{
				height: 48px;
			}
		}


		.home-contract{
			//background: url(../img/home/pwd_home.jpg) no-repeat center 40%;
			background-size: cover;
			background-color: $contract-green;

			height: 200px;

			aside{
				background-color: $contract-green;
			}

			img{
				height: 48px;
			}
		}


		a{
			@include xs {
				max-height: 240px;
				min-height: 240px;
			}
		}

	}












// HOME GALLERY?????
//	- include misc project here in a 4x4(?) grid,
//    book covers, logos, small websites, etc 
//    [click to open? on hover for desktop?]











