//GLOBAL VARIABLES 




// WALDRON.DIGITAL COLORS
	$wd-blue: #233644;
	$wd-green: #007650;
	$wd-gray: #7B868F;
	$wd-light: #EDEDED;
	$wd-dark: #232628;
	$action-blue: #27648D;

	$white: #fff;
	$black: #000;


// NODEHOST COLORS
	$nh-purple: #6754FF;
	$nh-light: #F6F5FF;
	$nh-navy: #0E1267;
	$nh-black: #2B2C42;
	$nh-gray: #8D99AE;

// KEYTRUDA COLORS
	$key-dark: #444444;
	$key-green: #48A548;
	$key-light: #BBBBBB;


// UNBRANDEDHUB COLORS
	$unbranded-green: #758A79;
	$unbranded-blue: #272759;
	$unbranded-orange: #BF755D;
	$unbranded-light: #F9F4F8;


// PWD COLORS
	$pwd-blue: #0078C8;
	$pwd-navy: #001A70;
	$pwd-lightblue: #5EB1D9;
	$pwd-green: #00B388;
	$pwd-light: #B8DDE1;
	$pwd-gray: #3f647d;

// 12TH BAR COLORS
	$twelfth-blue: #163459;
	$twelfth-gray: #748195;
	$twelfth-brown: #6F4A2E;
	$twelfth-yellow: #D1A134;


//ESTUARY COLORS
	$estuary-pink: #C999BB;


// STATVISOR COLORS
	$sv-slate: #22272D;
	$sv-lime: #D3EF7D;
	$sv-seafoam: #9AE7BB;


// METANODE COLORS
	$mn-blue: #3076D3;


// CONTRACT COLORS
	$contract-green: #2C6660;


// TYPOGRAPHY
body, h5{
  font-family: 'Muli', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.125rem ;
  line-height: 2rem;
}

h1, h2, h3, h4{
  font-family: 'Muli', Helvetica, sans-serif;
}

@mixin font-bold{
	font-weight: 700;
}

@mixin font-semi{
	font-weight: 600;
}






// MEDIA QUERIES


@mixin xs {
  @media (max-width: 576px) { @content; }
}

@mixin sm {
  @media (max-width: 767px) { @content; }
}

@mixin md {
  @media (min-width: 1024px) { @content; }
}

@mixin lg {
  @media (min-width: 1280px) { @content; }
}