// NODEHOST PROJECT PAGE STYLING





//GLOBAL OVERRIDES
	#nodehost-page{

		

		.project-textblock{
			//background-color: $nh-light;

			.titleimage-container img{
				padding-bottom: 32px;
			}
		}

		#nh-presale-page{
			-webkit-box-shadow: 8px 8px 32px -5px rgba(0,0,0,0.5);
			-moz-box-shadow: 8px 8px 32px -5px rgba(0,0,0,0.5);
			box-shadow: 8px 8px 32px -5px rgba(0,0,0,0.5);
		}


		#nh-modal-states{
			div{
				padding: 8px;
			}
		}

		.page-section_fluid-background{
			background-color: $nh-navy;
			padding-top: 48px;
			padding-bottom: 48px;
			margin-top: 88px;
		}


	}





