// UNBRANDED HUB PROJECT PAGE STYLING





//GLOBAL OVERRIDES
	#unbranded-page{


		.project-textblock{
			img{
				padding-bottom: 32px;
			}
		}

		.unbranded-wireframes{
			div{
				margin-left: 24px;
			}
		}

		.page-section_fluid-background{

			background-color: $unbranded-blue;
			// img{
			// 	margin: 0;
			// }

			// .second-image{
			// 	padding-left: 18px;

			// 	@include sm{
			// 		padding-left: 0;
			// 	}
			// }
		}

	}






