// GLOBAL VARIABLES

// PALATTE
	$wd-blue: #233644;
	$wd-green: #007650;
	$wd-gray: #7B868F;
	$wd-light: #EDEDED;
	$wd-dark: #232628;
	$action-blue: #27648D;

	$white: #fff;
	$black: #000;

// MIRROR COLORS

// YELLOWTREE COLORS

// STRATEGY VALIDATION COLORS

// CONTRACT COLORS
    $contract-green: #2c6660;
    
